{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "sortHtmlAttributes": "idiomatic",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "phpVersion": "8.1",
        "parser": "php",
        "tabWidth": 4,
        "trailingCommaPHP": true,
        "braceStyle": "psr-2"
      }
    },
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 2
      }
    }
  ]
}
