.painting-home-box {
  background-image: url(../images/backgrounds/2_home.png);

  .container {
    height: 821px;
  }

  .h1 {
    max-width: 650px;
  }

  .left-col {
    .sub-h {
      margin-top: 18px;
      max-width: 606px;
    }
  }
}

.painting-portfolio-box {
  padding: 100px 0 3px;
}

.painting-process-box {
  padding-bottom: 93px;

  .process-list {
    grid-template-columns: 10fr 10fr 12fr 9fr 9fr 10fr;
    gap: 35px;
  }
}

.painting-partners-box {
  padding: 86px 0 69px;
}

.painting-price-box {
  padding-bottom: 88px;

  .price-table table td:first-child {
    padding-left: 139px;
  }

  @media (min-width: 1240px) {
    .price-table table td:first-child {
      width: 643px;
    }

    .price-table {
      table {
        td {
          padding: 14.5px 20px;
        }
      }
    }
  }
}

.painting-cost-box {
  .cost-device {
    top: -264px;
  }

  @media (min-width: 1240px) {
    padding-bottom: 140px;

    .title-row {
      grid-template-columns: 342fr 250fr;
    }

    .cost-form {
      grid-template-columns: 205fr 250fr;
    }
  }
}

.painting-about-box {
  padding-top: 87px;

  @media (min-width: 1240px) {
    padding-bottom: 33px;
  }

  .h2 {
    max-width: 400px;
  }

  .sub-h {
    max-width: 540px;
  }

  .text-item {
    line-height: 158%;
  }
}
