@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'vue-toastification/dist/index.css';

body {
  @apply bg-secondary-800;
}
::-webkit-scrollbar-thumb {
  @apply rounded-lg border-4 border-solid border-white bg-primary-400;
}
::-webkit-scrollbar-track {
  @apply bg-white;
}
::-webkit-scrollbar {
  @apply h-4 w-4;
}
::selection {
  @apply bg-primary-500 text-white;
}
.btn,
.btn-secondary {
  @apply inline-flex h-9 cursor-pointer select-none items-center justify-center rounded-md border-none bg-primary-600 px-6 py-3 text-center text-xs font-semibold uppercase tracking-widest text-white shadow-md outline-none transition;
  &:hover {
    @apply bg-primary-700 ring-primary-700;
  }
  &:disabled {
    @apply opacity-25;
  }
  &:active {
    @apply border-none bg-primary-600 outline-none ring-4 ring-primary-200;
  }
  &:focus {
    @apply border-none outline-none;
  }
}
.btn-secondary {
  @apply bg-secondary-600;
  &:hover {
    @apply bg-secondary-700 ring-secondary-700;
  }
  &:active {
    @apply ring-secondary-200;
  }
}
.btn-gray {
  @extend .btn;
  @apply bg-gray-500 ring-gray-500;
  &:hover {
    @apply bg-gray-600;
  }
  &:active {
    @apply ring-gray-500;
  }
}
.btn-danger {
  @extend .btn;
  @apply bg-red-600 ring-red-600;
  &:hover {
    @apply bg-red-500;
  }
  &:active {
    @apply ring-red-500;
  }
}
.btn-vk {
  @extend .btn;
  @apply bg-blue-500 ring-blue-500;
  &:hover {
    @apply bg-blue-400;
  }
  &:active {
    @apply ring-blue-400;
  }
}
.btn-square {
  @apply p-3;
}
.btn-mini {
  @apply max-h-6 px-2;
  font-size: 0.6em;
  &.btn-square {
    @apply p-1.5;
  }
}
.sortable-chosen {
  @apply opacity-40;
}
.form-grid {
  @apply grid gap-6;
}
.form-input,
.form-textarea,
.form-select,
.form-text {
  @apply block w-full rounded-md border border-gray-200 bg-white px-4 pr-6 shadow-sm outline-none transition;
  &:focus,
  &.focus {
    @apply border-transparent bg-white outline-none ring-4 ring-primary-200;
  }
}
.form-input,
.form-textarea,
.form-select {
  @apply h-10;
  &:disabled {
    @apply bg-gray-50 text-gray-500;
  }
  &.f-mini {
    @apply h-8 px-3 pr-4 text-xs;
  }
}
.form-radio,
.form-checkbox {
  @apply cursor-pointer rounded w-5 h-5 border-gray-300 text-primary-600 shadow-sm transition-colors;
  &:checked {
    @apply border-primary-600 bg-primary-600;
  }
  &:focus {
    @apply border-primary-300 outline-none ring ring-primary-100 ring-offset-0;
  }
}
.form-radio {
  @apply rounded-full;
}
.link {
  @apply cursor-pointer text-primary-600 transition-colors;
  &:hover {
    @apply text-primary-700 underline;
  }
}
.link-hover {
  @apply cursor-pointer transition-colors;
  &:hover {
    @apply text-primary-700;
  }
}
.drag-handle {
  @apply cursor-move select-none text-sm text-gray-300 transition-colors;
  &:hover {
    @apply text-primary-500;
  }
}
.table-wrapper {
  width: 100%;
}
.table-overflow {
  width: 100%;
  overflow-x: auto;
}
.table {
  @apply w-full border-collapse leading-4 text-gray-800;
  th:not(.no-style) {
    @apply table-cell border-b bg-gray-50 text-left text-sm font-bold text-gray-600;
    &.text-center {
      text-align: center;
    }
  }
  th,
  td {
    &:not(.no-style) {
      @apply px-3;
      &:first-child {
        @apply pl-8;
      }
      &.sort-td {
        @apply pl-5;
      }
      &:last-child {
        @apply pr-8;
      }
    }
  }
  tbody tr {
    @apply z-10 table-row transition;
    &:not(:last-child) td:not(.no-style) {
      @apply border-gray-200;
    }
    &:hover {
      @apply relative z-20;
      & > td:not(.no-style) {
        @apply bg-gray-100;
      }
    }
    td:not(.no-style) {
      @apply relative table-cell w-auto border-b bg-white py-3 align-middle transition;
      &.w-min {
        width: 1%;
      }
    }
  }
}
.table-save-row {
  position: sticky;
  bottom: 0;
  @apply bg-gray-100 px-4 py-2;
  width: 100%;
  z-index: 20;
}

.customer-info {
  display: grid;
  grid-template-columns: max-content auto;
  .ci-title {
    display: flex;
    align-items: baseline;
    &::after {
      content: '';
      min-width: 25px;
      width: 100%;
      margin: 0 5px;
      border-bottom: 1px dotted #aaa;
    }
  }
}
.pagination {
  input,
  select {
    @apply ml-2 h-7 appearance-none rounded px-1 text-xs leading-4;
  }
  input {
    @apply w-12 text-center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
  }
}

.nprogress-busy {
  .loading {
    position: relative;
    pointer-events: none;
    overflow: hidden;

    &::before {
      content: '';
      opacity: 1;
      @apply animate-pulse;
    }

    &::after {
      content: '';
      @apply animate-spin;
      opacity: 1;
    }
  }
}
