@media (max-width: 1539.98px) {
  .home-box .right-shaving {
    right: -265px;
  }

  .building-box .hang-green,
  .building-box .hang-skrew {
    left: -265px;
  }

  .skills-box .wood-piece-blur {
    left: -330px;
  }

  .skills-box .wood-piece {
    left: -130px;
  }

  .reviews-box .wood-piece {
    left: -350px;
  }

  .partners-box .partners-green {
    right: -265px;
  }

  .portfolio-box .wood-piece-blur {
    right: -442px;
  }

  .portfolio-box .wood-piece {
    right: -218px;
  }

  .articles-box .article-green-1 {
    left: -235px;
  }

  .articles-box .article-green-2 {
    right: -235px;
  }

  .measurer-box .measurer-green {
    left: -300px;
  }
}

@media (max-width: 1239.98px) {
  .home-box .right-shaving {
    right: -225px;
  }

  .building-box .hang-green,
  .building-box .hang-skrew {
    left: -215px;
  }

  .skills-box .wood-piece-blur {
    left: -280px;
  }

  .skills-box .wood-piece {
    left: -80px;
  }

  .reviews-box .wood-piece {
    left: -300px;
  }

  .partners-box .partners-green {
    right: -205px;
  }

  .portfolio-box .wood-piece-blur {
    right: -402px;
  }

  .portfolio-box .wood-piece {
    right: -168px;
  }

  .articles-box .article-green-1 {
    left: -185px;
  }

  .articles-box .article-green-2 {
    right: -185px;
  }

  .measurer-box .measurer-green {
    left: -250px;
  }

  .header-box .contacts-col {
    margin-left: 0;
  }

  .grid-12, .grid-6, .grid-4, .grid-3, .grid-2, .grid {
    column-gap: 30px;
  }

  .icons .icon:last-child {
    margin-right: 0;
  }

  .h1 {
    font-size: 43px;
  }

  .h3 {
    font-size: 22px;
  }

  .btn-orange {
    font-size: 12px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .grid-with-form .right-col .form-wrapper .sub-h {
    font-size: 14px;
  }

  .index-home-box {
    background-position-x: 17%;
  }

  .home-box .container {
    height: 750px;
  }

  .home-box .down-circle-row {
    position: static;
  }

  .down-circle {
    width: 86px;
    height: 86px;
    background-size: 25px;
  }

  .home-box .down-circle {
    top: auto;
    bottom: -43px;
  }

  .about-box .container {
    grid-template-columns: auto 460px;
  }

  .about-box .right-col {
    margin-top: -30px;
    padding-top: 0;

    .swiper-wrapper {
      grid-template-columns: 1fr;
    }
  }

  .about-box .about-info-col .aic-big {
    font-size: 45px;
  }

  .about-box .about-info-col {
    min-height: 0;
  }

  .about-box .sub-h {
    max-width: 500px;
  }

  .about-box .text-item {
    max-width: 390px;
  }

  .advantages-box .advantages-list {
    gap: 40px;
  }

  .advantages-box .ai-title {
    font-size: 16px;
  }

  .advantages-box .ai-description {
    font-size: 14px;
  }

  .advantages-box .ai-title {
    margin: 14px 0 11px;
  }

  .advantages-box .ai-image img {
    max-width: 90px;
  }

  .skills-box {
    background-size: 1800px;
  }

  .skills-box .sign-list .sign-item .sign-text {
    padding: 12px 14px;
  }

  .skills-box .sign-list .sign-item:nth-child(1) {
    top: 334px;
    left: 369px;
  }

  .skills-box .sign-list .sign-item:nth-child(5) {
    top: 408px;

    .sign-text {
      top: -20px;
      left: 40px;
    }
  }

  .skills-box .sign-list .sign-item:nth-child(6) {
    top: 300px;

    .sign-line {
      top: 77px;
      left: -227px;
      width: 269px;
    }

    .sign-circle {
      top: 115px;
      left: -228px;
    }
  }

  .skills-box .sign-list .sign-item:nth-child(3) {
    left: -100px;

    .sign-text {
      top: 10px;
      left: 100px;
    }
  }

  .skills-box .sign-list .sign-item:nth-child(7) {
    top: 840px;
  }

  .skills-box .sign-list .sign-item:nth-child(2) {
    top: 832px;
    left: 219px;
  }

  .skills-box .sign-list .sign-item:nth-child(4) {
    top: 650px;
    left: 470px;

    .sign-text {
      top: 5px;
    }
  }

  .services-box .services-extra {
    column-gap: 20px;
  }

  .services-box .services-extra .se-item .sei-image img {
    max-width: 100px;
  }

  .services-box .services-extra .se-item .sei-title {
    font-size: 16px;
  }

  .building-box .big-container {
    background-position-x: 40%;
  }

  .building-box .left-side {
    max-width: 577px;
  }

  .process-box .process-list {
    gap: 40px;
  }

  .process-box .pi-description {
    font-size: 14px;
  }

  .process-box .pi-title {
    margin: 14px 0 11px;
  }

  .process-box .pi-image img {
    max-width: 90px;
  }

  .reviews-box .reviews-video .rv-green {
    max-width: 124%;
    top: -31%;
    margin-left: -5%;
  }

  .partners-box .partners-item {
    max-width: 15%;
  }

  .form-input textarea:placeholder-shown {
    padding-top: 37px;
  }

  .calculation-box .big-container {
    background-position-x: 30%;
  }

  .calculation-box .calc-hand {
    max-width: 600px;
  }

  .measurer-box .big-container {
    background-position-x: 30%;
  }

  .contacts-box .contacts-list {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 70px;
  }

  .contacts-box .contacts-item {
    grid-column: span 2;

    &:nth-child(4) {
      grid-column: (2 / span) 2;
    }
  }

  .footer-box .contacts-col {
    align-items: center;
  }

  .popup-project .project-container {
    align-items: start;
    padding: 50px 40px;
    gap: 50px;
  }

  .popup-project .home-shaving {
    bottom: 0;
  }

  .popup-project .right-col {
    padding-top: 0;
  }

  .price-box .price-table table td:first-child {
    padding-left: 30px;
  }

  .cost-box .cost-device {
    right: -400px;
  }

  .cost-box .form-checkbox-grid {
    gap: 18px;
  }

  .painting-home-box .left-shaving {
    left: -250px;
  }

  .painting-box {
    padding: 80px 0 0;
  }

  // .sanding-portfolio-box
  .alt-sanding-portfolio-box {
    padding: 80px 0;
    background: #fff;
  }

  .alt-sanding-portfolio-box .portfolio-item {
    background: #F9FAFB;
  }

  .painting-process-box {
    background: #F9F9F9 url(../images/backgrounds/process-calculation.png) no-repeat 50%;
    background-size: cover;
  }

  .painting-cost-box .cost-device {
    right: -470px;
  }

  .painting-box .left-side {
    grid-column: span 6;
  }

  .painting-box .right-side {
    grid-column: span 6;
  }

  .okosyachka-box {
    padding: 80px 0;
  }

  .reconstruction-skills-box {
    display: none;
  }

  .reconstruction-portfolio-box {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .planken-about-box {
    .container {
      grid-template-columns: 1fr;
    }

    .right-col {
      padding-top: 40px;

      .swiper-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .painting-portfolio-box {
    padding-bottom: 80px;
    background: #fff;

    .portfolio-item {
      background: #F9FAFB;
    }
  }
}
