.header-box {
  position: sticky;
  top: -92px;
  z-index: 100;
  box-shadow: 0 1px 0 1px #f4f8fb;
  background: #fff;

  .top-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dde3ed;
    height: 92px;
  }

  .sublogo-col {
    margin-left: 51px;
    max-width: 16.5em;
    font-size: 14px;
  }

  .icons-callback {
    display: none;
  }

  .icons {
    margin: auto;
  }

  .contacts-col {
    margin-right: 23px;
    margin-left: 31px;
  }

  .menu-row {
    display: flex;
    justify-content: space-between;

    .menu-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-bottom: 3px;
      height: 63px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.025em;
      text-transform: uppercase;

      img {
        margin-top: -3px;
        margin-right: 13px;
        margin-left: 1px;
      }
    }

    .menu-dropdown {
      position: relative;

      &:hover {
        .mid-arrow {
          transform: rotate(180deg);
        }

        .mid-list {
          visibility: visible;
          opacity: 1;
        }
      }

      .mid-name {
        display: flex;
        position: relative;
        align-items: center;
      }

      .mid-arrow {
        position: absolute;
        right: -14px;
        transition: transform 0.25s;
        margin-top: -2px;
        pointer-events: auto;
      }

      .mid-list {
        display: grid;
        position: absolute;
        top: 100%;
        left: -45px;
        gap: 8px;
        visibility: hidden;
        opacity: 0;
        z-index: 4;
        transition: all 0.25s;
        cursor: default;
        margin-top: -10px;
        border-radius: 4px;
        background: #fff;
        padding: 25px 46px;
        color: $body-color;

        .mid-item {
          margin-right: 5px;
          padding: 10px 0;
          font-size: 14px;
          letter-spacing: normal;
          text-transform: none;
          white-space: nowrap;
        }

        // display: none
      }
    }
  }
}

.page-articles,
.page-single-article,
.page-errors,
.page-default {
  .header-box {
    top: 0;
    .wood-logo {
      height: auto;
    }
    .top-row {
      border-bottom: 0;
    }
    .menu-row {
      display: none;
    }
  }
}
@media (min-width: 1240px) {
  .page-index {
    .menu-item {
      order: 5;
    }
    .menu-item:nth-child(1) {
      order: 0;
    }
    .menu-item:nth-child(2) {
      order: 2;
    }
    .menu-item:nth-child(3) {
      order: 1;
    }
  }
}
