.contacts-box {
  padding: 94px 0 171px;

  &::before {
    @include absfull;

    content: "";
    background: url(../images/backgrounds/process-calculation.png) no-repeat 50% 50%;
    background-size: cover;
  }

  &::after {
    @include absfull;

    content: "";
    background: url(../images/backgrounds/contact_green.png) no-repeat 50% 100%;
  }

  .container {
    z-index: 2;
  }

  .contacts-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 17px;
    margin-top: 72px;
  }

  .contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 26px;
    background: #fff;
    border-radius: 6px;
    text-align: center;

    .icons {
      margin-top: -38px;

      .icon {
        margin: 0;
        width: 78px;
        height: 78px;
        cursor: default;
      }
    }

    .ci-title {
      margin: 21px 0 10px;
      font-size: 18px;
      font-weight: 600;
    }

    .ci-text {
      line-height: 139.5%;
      color: $gray;

      .a-phone {
        font-size: 20px;
      }
    }
  }
}
